ul{
	list-style: none;
	margin-block-start:0px;
	margin-block-end:0px;
	padding-inline-start:0px;
}
.B li{
	display: inline;
	color: white;
	margin-left: 80px;
	font-size: 19px;
	font-weight: bold;
}
.A{
	background-color: black;
	text-align: center;
}
.B li:hover{
	color: yellow;
}
.A img{
	height: 50px;
	margin-bottom: -8px;
}
.E img{
	height: 400px;
	width: 715px;
	margin-left: -7px;
}
.C li{
	display: inline;
}
.D img{
	width: 350px;
	height: 400px;
}
.F li{
	display: inline-block;
}
.F img{
	width: 180px;
	padding-left: 6px;
}
.C{
	text-align: center;
}
.C ul{
	padding-left: 0px;
}
.F span{
	width: 90px;
}
.G{
	width: 180px;
	padding-right: 60px;
}
.F span:hover{
	color: red;
}
.F span .I{
	color: #FF0000;
}
.J img{
	width: 1500px;
}
.K li{
	display: inline-block;
}
.K span{
	display: block;
	text-align: center;
}